@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";


.container {
  padding: 40px;
  background: gray;
}

.booksList {
  margin: 10px;
  padding: 15px;
  border: 1px solid red;
  border-radius: 12px;
  background: rgb(208, 233, 140);
  text-align: center;
  box-shadow: 0 0 5px 2px #fff;

  [type="text"],
  select {
    width: 90%;
    padding: 5px;
    border: 0;
    outline: 0;
    text-align: center;
    border-radius: 5px;
    background: rgba(64, 255, 0, 0.265)(153, 150, 150);
  }

  .card-body {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
}